.container {  
  width: 50%;
  margin-top: 60px;
}

//Resize glyphicon
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.all-comments{
  display: none;
}

.user-img {
  width: 35px;
  height: 35px;
}

.write-post {
  display: none;
}

.date {
  font-size: 9px;
}

.submit {
  display: none;  
}

.like {
  color: red;
}

.comm {
  color: blue;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}
