.colored-body {
  background-color: #f2f2f2;
}

.container{  
  float: none;
  margin: 0 auto;
  margin-top: 60px;
}

//Resize glyphicon
.gi-2x{font-size: 2em;}
.gi-3x{font-size: 3em;}
.gi-4x{font-size: 4em;}
.gi-5x{font-size: 5em;}

.all-comments{
  display: none;
}

.comment-box {
  padding: 0px 15px;
}
.user-img {
  width: 35px;
  height: 35px;
}

.date {
  font-size: 9px;
}

.post-submit {
  display: none;  
}

.like, .comm, .reblog {
  background-color: transparent;
  border: none;
  outline:none;
}

.like {
  color: red;
}

.comm {
  color: blue;
}

.add-post {
  margin-bottom: 10px;
}

.write-post {
  margin-top: 10px;
  padding-left: 0px; 
  padding-right: 0px;
}

.post-box {
  margin-bottom: 10px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}